* {
    color: white;
    margin: 0;
    padding: 0;
}
.header {
     background: rgb(40, 40, 40);
}
.header__logo {
    width: 59px;
    height: 61px;
}
.container {
 max-width: 880px;
 margin: 0 auto;
}
.header_container {
    padding: 45px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__list {
    display: flex;
    list-style: none;
}
.nav__item {
    margin-right: 24px;
    color: rgb(255, 255, 255);
font-family: Karantina;
font-size: 20px;
font-weight: 700;
line-height: 20px;
letter-spacing: 0px;
text-align: left;
}
.hero-block {
background: rgb(40, 40, 40);
}
.hero-block_container {
    padding: 60px 0;
    display: flex;
    align-items: center;
}
.hero-block__content {
    margin-left: 60px;
}
.hero-block__title {
    color: rgb(228, 228, 228);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 0px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 100px;
}
.hero-block__link {
    border-radius: 6px;
background: rgb(204, 150, 10);
color: rgb(0, 0, 0);
font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0px;
text-align: left;
padding: 17px 50px;
}
.gallery {
    background: rgb(40, 40, 40);
    padding: 54px 0 26px;
}
.gallery__title {
    color: rgb(228, 228, 228);
font-family: Inter;
font-size: 48px;
font-weight: 700;
line-height: 58px;
letter-spacing: 0px;
text-align: center;
margin-bottom: 113px;
}
.gallery__list {
    display: flex;
    flex-wrap: wrap;
}
.gallery__item {
    width: 50%;
    height: 362px;

}
.three {
    width: 100%;
}
.footer {
    background: rgb(106, 106, 106);
}
.footer_container {
    padding: 74px 0 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__title {
    color: rgb(228, 228, 228);
font-family: Inter;
font-size: 30px;
font-weight: 400;
line-height: 36px;
letter-spacing: 0px;
text-align: left;
}
.footer__list {
    display: flex;
    list-style: none;
    align-items: center;
}